<a href="https://colab.research.google.com/github/msadaike/msadaike.github.io/blob/master/Teste_pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import das bibliotecas

In [2]:
import pandas as pd
import numpy as np

Criar um dataframe

In [14]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                  columns=['a', 'b', 'c'])

In [15]:
df.head()

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Adicionar uma nova linha

In [18]:
colunas_dados = {"a":[10],
                 "b":[11],
                 "c":[12],
                 }
df2 = pd.DataFrame(data=colunas_dados)
df = df.append(df2, ignore_index=True)

In [19]:
df.head()

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
4  10  11  12